@(message: String)

@main("About me") {
<div>
	<h1>自己紹介<span style="float:right;font-size:smaller;">Session:【14-E-5】 #devsumiE</span></h1>
</div>
<div style="font-size:xx-large;">
	小西俊司(@@shunjikonishi)
</div>
<div class="row">
	<div class="col-sm-5">
		<img src="/assets/images/aboutme.png" style="width:100%;"></iframe>
	</div>
	<div class="col-sm-7">
		<dl>
			<dt>株式会社フレクト</dt>
			<dd>
				<a href="http://www.flect.co.jp/" target="_blank"><img src="/assets/images/logo_flect.png"/></a>
				<ul>
					<li><a href="https://partners.heroku.com/flect-co-ltd" target="_blank">Heroku パートナー</a></li>
					<li>Salesforc, Heroku等のクラウド専業</li>
					<li>R&amp;D担当</li>
					<li>R&amp;D成果のライブラリ／アプリをOSSライブラリとして公開<br/>
						<a target="_blank" href="http://oss.flect.co.jp/">http://oss.flect.co.jp/</a>
					</li>
				</ul>
			</dd>
			<dt>ブログ</dt>
			<dd>
				フレクトのR&amp;D ブログ<br/>
				<a target="_blank" href="http://blog.flect.co.jp/labo/">http://blog.flect.co.jp/labo/</a><br/>
				Heroku関連記事多数
			</dd>
			<dt>Slide</dt>
			<dd>
				<a target="_blank" href="http://www.slideshare.net/shunjikonishi">http://www.slideshare.net/shunjikonishi</a><br/>
				多分日本語で一番詳しいHeroku資料
			</dd>
			<dt>GitHub</dt>
			<dd>
				<a target="_blank" href="https://github.com/shunjikonishi">https://github.com/shunjikonishi</a><br/>
				Herokuにpushするだけで動くアプリが多数あります。
			</dd>
		</dl
	</div>
</div>
}
