@(message: String)

@main("About me") {
<div class="page-header">
	<h1>自己紹介<span style="float:right;font-size:smaller;">Session:【14-E-5】 #devsumiE</span></h1>
</div>
<div style="font-size:xx-large;">
	<div class="alert alert-info">
		デモ：WebSocketでHerokuに負荷をかけよう！
	</div>
	<a href="http://ws-vote.herokuapp.com/" target="_blank" style="font-size:48px;">http://ws-vote.herokuapp.com/</a>
	<hr>
</div>
<div class="row">
	<div class="col-sm-5">
		<img src="/assets/images/aboutme.png" style="width:100%;" />
	</div>
	<div class="col-sm-7">
		<div style="font-size:xx-large;" class="pull-right">
			小西俊司(@@shunjikonishi)
		</div>
		<dl>
			<dt>株式会社フレクト</dt>
			<dd>
				<ul>
					<li><a href="http://www.flect.co.jp/" target="_blank"><img src="/assets/images/logo_flect.png"/></a></li>
					<li><a href="https://partners.heroku.com/flect-co-ltd" target="_blank">Heroku パートナー</a></li>
					<li>Salesforc, Heroku等のクラウド専業</li>
				</ul>
			</dd>
			<dt>FLECT OSS Library</dt>
			<dd>
				<ul>
					<li><a target="_blank" href="http://oss.flect.co.jp/">http://oss.flect.co.jp/</a></li>
					<li>Herokuで動くアプリやライブラリを公開</li>
				</ul>
			</dd>
			<dt>ブログ</dt>
			<dd>
				<ul>
					<li>フレクトのR&amp;D ブログ</li>
					<li><a target="_blank" href="http://blog.flect.co.jp/labo/">http://blog.flect.co.jp/labo/</a></li>
					<li>Heroku関連記事多数</li>
				</ul>
			</dd>
			<dt>Slide</dt>
			<dd>
				<ul>
					<li><a target="_blank" href="http://www.slideshare.net/shunjikonishi/heroku-15670119i">http://www.slideshare.net/shunjikonishi/heroku-15670119</a></li>
					<li>多分日本語で一番詳しいHeroku資料</li>
				</ul>
			</dd>
		</dl
	</div>
</div>
}
